{% extends "layout.html" %}
{% block body %}
<div id="signup_div">
	<h2>Signup</h2>
	<hr>

	<form action="{{ url_for('sign_up') }}" method = 'post'>
		<p>Name : <input type="text" name="username" id="name_box"></p>
		<p>Email : <input type="text" name="email" id="email_box"></p>
		<p>Password : <input type="password" name="password" id="pass_box"></p>
		<p>Pass Check : <input type="password" name="password_check" id="pass_check_box"></p>

		<div id="sex_choice_div">
			<div class="male_left">
				<input type="radio" name="gender" id="male" value="M">
				<label for="male">Male</label>	
			</div>
			<div class="female_right">
				<input type="radio" name="gender" id="female" value="F">
				<label for="female">Female</label>		
			</div>
		</div>

		<p>Birthday : <input type="text" name="birthday" id="birth_box"></p>
		<p>Mobile : <input type="text" name="mobile" id="mobile_box"></p>

		<div id = "signup_submit_div">
			<div><input type="submit" value="Sign Up" id="sign_up_button"></div>
			<div id = "admin_text"><input type="checkbox" name="admin">admin</div>
		</div>
	
	</form>

</div>
{% endblock %}
