{% extends "layout.html" %}
{% block body %}

<div id="one_post">
	<table>
		<tr class="upper_tr">
			<td class="user_pic_td"><a href="{{ url_for('timeline', wall_id = post.user_id ) }}">{{ post.user_id }}</a></td>
			<td class="td_contents posted_time">{{ post.created_time }}</td>
		</tr>
		<tr>
			<td></td>
			<td class="td_contents">{{ post.body }}</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<table id="comment_table">
					{% for comment in comments %}
					<tr>
						<td class="comment_user_pic_td"><a href="{{ url_for('timeline', wall_id = comment.user_id) }}">{{ comment.user_id }}</a></td>
						<td class="commsent_td">{{ comment.body }}</td>
						<td><input type="submit" value="revise"></td>
						<td><input type="submit" value="delete"></td>
					</tr>
					{% endfor %}

					<tr>
						<form action=" {{ url_for('write_comment') }} " method='post'>
							<td class="comment_user_pic_td"> {{ comment_user_name }} </td>
							<td><input type="text" name="comment_box" id="comment_text_box"></td>
							<td class="secret_box"><input type="checkbox" name="secret">secret</td>
							<td><input type="submit" value="submit"></td>
						</form>
					</tr>

				</table>

			</td>
		</tr>
	</table>
</div>
{% endblock %}
