{% extends "layout.html" %}
{% block body %}
	<p> it's {{ wall_host_name }}'s wall !</p>
	<div id="table_div"> 
		{% for post in posts %}
			<table>
				<tr class="upper_tr">
					<td class="user_pic_td"><a href="{{ url_for('timeline', wall_id = post.wall_id) }}"> {{ post.user_id }} </a></td>
					<td class="td_contents posted_time"><a href="{{ url_for('read_post') }}" style="text-decoration:none"> {{ post.created_time }}</a></td>
				</tr>
				<tr>
					<td></td>
					<td class="td_contents"><a href="{{ url_for('read_post') }}" style="text-decoration:none"> {{ post.body }}</a></td>
				</tr>

			</table>

		{% endfor %}
	</div>
{% endblock %}
