{% extends "layout.html" %}
{% block body %}
	<form action=" {{ url_for('write_post') }}" method = 'post'>
		<div id="write_post_div">
			<textarea rows="4" cols="50" name="write_post_box"> </textarea><br>
			<div id="under_write_post">
				<input class="write_post_right_align" type="submit" value="SUBMIT">
				<input class="write_post_right_align" type="button" value="LIST">
				<div class="secret_box"><input type="checkbox" name="secret" >secret</div>
			</div>	
		</div>	
	</form>
	

{% endblock %}
